<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h2>Reparador de PC</h2> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, odit tempore? Officia dolore eum itaque quisquam pariatur, deleniti provident a sint at commodi nesciunt atque ipsum ex tempora necessitatibus repudiandae.</p>
        </ul>
        <ul>
            <li><h2>Asistente en la Cámara de Diputados de la Provincia de Santa Fe</h2> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, odit tempore? Officia dolore eum itaque quisquam pariatur, deleniti provident a sint at commodi nesciunt atque ipsum ex tempora necessitatibus repudiandae.</p>
        </ul>
    </div>
</div>
