<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h2>Estudio 1</h2> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, odit tempore? Officia dolore eum itaque quisquam pariatur, deleniti provident a sint at commodi nesciunt atque ipsum ex tempora necessitatibus repudiandae.</p>
        </ul>
        <ul>
            <li><h2>Estudio 2</h2> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, odit tempore? Officia dolore eum itaque quisquam pariatur, deleniti provident a sint at commodi nesciunt atque ipsum ex tempora necessitatibus repudiandae.</p>
        </ul>
        <ul>
            <li><h2>Estudio 3</h2> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, odit tempore? Officia dolore eum itaque quisquam pariatur, deleniti provident a sint at commodi nesciunt atque ipsum ex tempora necessitatibus repudiandae.</p>
        </ul>
    </div>
</div>
