<section>
    <div class="conatiner">
        <div class="row form-control">
            <div>
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombreExp">Nombre de la organización</label>
                        <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="nombreExp"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="descripcionExp">Descripción</label>
                        <input type="text" class="form-control" id="descripcionExp" name="descripcionExp"
                            [(ngModel)]="descripcionExp" required>
                    </div>
                    <br>
                    <button class="btn btn-primary">
                        Agregar Experiencia
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>