<div class="conatiner">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreS">Skill</label>
                    <input type="text" class="form-control" id="nombreS" name="nombreS" [(ngModel)]="nombreS" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
                </div>
                <button class="btn btn-primary">
                    Agregar Skill
                </button>
            </form>
        </div>
    </div>
</div>
