<div class="row">
    <h1>Hard skills</h1>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'Música'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="400">
        </circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'Música'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="400">
        </circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'Música'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="400">
        </circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'Música'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="400">
        </circle-progress>
    </div>
    <h1>Soft skills</h1>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'Música'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="400">
        </circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'Música'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="400">
        </circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'Música'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="400">
        </circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'Música'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="400">
        </circle-progress>
    </div>
</div>