<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/editpersonas/1" *ngIf="isLogged">
            Editar persona
        </button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 imgcent">
        <img src={{persona.img}} alt="Foto de perfil" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p class ="pre"><b>{{persona.nombre}} {{persona.apellido}}</b></p>
        <p class ="pre">{{persona.titulo}}</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1 class ="pre">Acerca de mí</h1>
        <p class ="pre">{{persona.descripcionPers}}</p>
    </div>
</div>
